$font-primary: "Roboto", sans-serif;
$font-secondary: "Anton", sans-serif;

$color-black: #222222;
$color-white: #ffffff;
$color-primary: #C10FF2;
$color-secondary: #F25C05;
$color-third: #F2CE16;
$color-fourth: #04BF10;
$color-fifth: #F213CD;
