{% extends 'layout/_default.html.twig' %}

{% block title %}Hello{% endblock %}

{% block main %}
    <h2>
        Bonjour
        {% if app.user %}
            {{ app.user.pseudo }}
        {% endif %}
    </h2>
{% endblock %}
