{% extends 'layout/_default.html.twig' %}

{% block title %}Discogs API into{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
    {{ form_widget(form) }}
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}
{% endblock %}
